@import "tailwindcss";

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    background-color: #000;
}

.section {
    @apply w-full h-screen p-5 flex flex-col gap-8;
}

.section-heading {
    @apply text-5xl text-stone-100 font-semibold;
}

.section-subheading {
    @apply text-lg text-stone-400;
}

.btn {
    @apply flex items-center justify-center bg-stone-50 rounded-md px-5 py-2.5;
}

.phrase-input {
    @apply flex-1 p-2.5 rounded-md border border-stone-500 placeholder:text-stone-400 text-stone-100 outline-none;
}
